:root {
  --intro-text-font-size: 16pt;

  --filled-text-font-size: 16pt;
  --filled-text-font-weight: bold;
  --filled-text-font-style: italic;

  --note-font-size: 10pt;

  --underline-offset-top: 16pt;
  --underline-line-width: 1pt;
}

form-field-component {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

form-field-component > .intro-text {
  overflow: hidden;
  white-space: nowrap;
  font-size: var(--intro-text-font-size);
}

form-field-component > .intro-text:after {
  content: " ";
  white-space: pre;
}

form-field-component > .filled-text {
  flex-grow: 1;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  font-weight: var(--filled-text-font-weight);
  font-style: var(--filled-text-font-style);
  font-size: var(--filled-text-font-size);
}

form-field-component > .filled-text:after {
  content: "";
  width: 100%;
  height: 1px;
  border: solid;
  border-color: black;
  border-width: 0 0 1px 0;
  top: var(--underline-offset-top);
  left: 0;
  position: absolute;
}

form-field-component > .filled-text + .filled-text {
  width: 100%;
}

form-field-component > .filled-text > .underline-note {
  text-align: center;
  font-size: var(--note-font-size);
  font-weight: normal;
  font-style: normal;
}
